-var title = "index page"
-var links = []
-var scripts = []


-var mainPath = `./assets`
-var cssPath = `${mainPath}/css`
-var jsPath = `${mainPath}/js`
-var imagesPath = `${mainPath}/images`


-links.push({href:`${cssPath}/main.css`})
-scripts.push(`${jsPath}/main.js`)



//- project values 

//- main -> calculator -> controller -> buttons
